.modal {
  width: 77%;
  max-width: 1110px;
  margin: auto;
  height: 168px;
  border-radius: 10px;
  background-color: #3a3054;
  position: absolute;
  bottom: -80px;
  left: 0;
  right: 0;
  padding: 50px 65px;
  z-index: 1;
  input {
    width: 769px;
    height: 64px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #34313d;
    font-family: Poppins-Medium;
    font-size: 20px;
    letter-spacing: 0.15px;
    border: none;
    outline: none;
    padding: 16px 32px;
    &::placeholder {
      opacity: 0.5;
      color: #34313d;
      font-family: Poppins-Medium;
      font-size: 20px;
      letter-spacing: 0.15px;
    }
  }
  button {
    width: 188px;
    height: 64px;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 25px;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    z-index: -1;
  }
  @include for-mobile-layout {
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    padding: 24px;
    height: 160px;
    input {
      height: 48px;
      width: 100%;
      padding: 6px 16px;
      &::placeholder {
        font-size: 16px;
        letter-spacing: 0.12px;
        line-height: 36px;
      }
    }
    button {
      height: 48px;
      width: 100%;
      margin-left: initial;
    }
  }
}
