.nav-hamburger {
  @include for-mobile-layout {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: none;
    width: 25px;
    height: 25px;
    padding: 3px;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s all;
    outline: none;
    position: absolute;
    right: 24px;
    top: 46px;
  }
  display: none;

  span {
    display: block;
    height: 3px;
    background: #fff;
    width: 24px;
    background-color: #9e9aa8;
    transition: 0.3s all;
    transform: rotate(360deg);
    margin-bottom: 6px;
  }
}

.menu-open .nav-hamburger span:first-child {
  transform: rotate(45deg);
  position: absolute;
}

.menu-open .nav-hamburger span:nth-child(2) {
  display: none;
}

.menu-open .nav-hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
}

.open {
  transform: translate(0, 0);
}
