.main-btn {
  width: 105px;
  height: 40px;
  border-radius: 28px;
  background-color: #2bd0d0;
  border: none;
  outline: none;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  font-family: Poppins-Bold;
}
