// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #fff;

// Breakpoints
$mobile-breakpoint: 480px;
$tablet-breakpoint: 750px;
$normal-breakpoint: 1200px;

// header
$header-height:150px;